// #00abe7 - #1cdaff - #00fcab // Colors logo
$ln-light: #fff;
$ln-primary: #0f172a;
$ln-success: #0cce6b;
$ln-warning: #ffca3a;
$ln-danger: #fb3640;
$ln-secondary: #94a3b8;

$color-lnui-1: #00fcab;
$color-lnui-2: #1cdaff;
$color-lnui-3: #00abe7;

$font-primary: "Satoshi", sans-serif;
$font-secondary: "Clash Display", sans-serif;
